@font-face{
    font-family:  "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face{
    font-family:  "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
body{
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color:#333333;
    background-color:#F2F2F2;
    font-style: normal;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.page-heder{
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   text-align: left;
   color:#000000;
   background-color:#FFFFFF;
}
.navigation-link{
    text-decoration: none;
    text-align: center;
    color: #000000;
}
.favorites-check{
    background-color:#7DB54F;
    background-size: 20px 20px;
    border:solid #7DB54F;
    border-radius: 50% ;
    color:#FFFFFF;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    font-weight: 400;
}
.page-main{
    background-color: #FFFFFF;
}
.page-main-hero{
    background-image: url("../images/bg-img/flag.png"), url("../images/bg-img/index-background.jpg");
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-color: #615b5b;;
    background-position: center bottom;
}
.title{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}
.description{
    font-size: 22px;
    font-style: normal;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color:#333333;
}
.subtitle{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.subdescription{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
.subdescription-reasons{
    text-decoration: overline;
    text-decoration-line: 2px;
    text-decoration-color: #333333;
}
.reasons-item-image{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.reasons-item-city{
    background-color:#82B3D3;
}
.reasons-item-city h3{
    color:#FFFFFF;
}
.reasons-item-city p{
    color: #FFFFFF;
    text-decoration-line: 2px;
    text-decoration-color:#FFFFFF4D;
}
.reasons-item-square{
    background-color:#83B3D31F;
}
.reasons-item-road{
    background-color:#83B3D333;
}
.reasons-item-tourist{
    background-color:#83B3D31F;
}
.reasons-item-bridge{
    background-color:#82B3D3;
}
.reasons-item-bridge h3{
    color:#FFFFFF;
}
.reasons-item-bridge p{
    color: #FFFFFF;
    text-decoration-line: 2px;
    text-decoration-color:#FFFFFF4D;
}
.service-item-home{
    background-image: url("../images/service/service-home.svg");
    background-color: #83B3D31F;
    background-repeat: no-repeat;
}
.service-item-food{
    background-image: url("../images/service/service-food.svg");
    background-repeat: no-repeat;
}
.service-item-souvenir{
    background-image: url("../images/service/service-souvenir.svg");
    background-color: #83B3D31F;
    background-repeat: no-repeat;
}
.subscribe{
    background-image: url("../images/bg-img/subscribe-bg.jpg");
    background-repeat: no-repeat;
    background-color: #615b5b;
    background-position: center bottom;
    background-size: cover;
}
.subscribe h2{
    color: #FFFFFF;
}
.subscribe p{
    color: #FFFFFF;
}
.button {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
 }
 .button-link{
    background-color: #82B3D3;
 }
 .button-modal{
    background-color: #756157;
 }
 .button-subscribe{
    font-size: 20px;
    line-height: 36px;
 }
 .button-search{
    font-size: 20px;
    line-height: 36px;
 }
 .button-favorites{
    background-color: #7DB54F;
 }
 .page-footer{
    text-align: left;
}
.contacts-tel-link{
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}
.catalog-hero{
    background-image: url("../images/bg-img/filter.jpg");
    background-repeat: no-repeat;
    background-color: #615b5b;
    background-size:cover;
    text-align: left;
    color: #FFFFFF;
}
.catalog-hero h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
}
.breadcrumb-item{
    font-size: 16px;
    line-height: 21px;
}
.form-legend{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
}
.form-label{
    font-size: 18px;
    line-height: 23px;
}
.page-main-catalog{
    text-align: left;
    background-color: #FFFFFF;
}
.sorting-description{
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    color: #333333;
}
.subtitle-card{
    text-transform: none;
    text-align: left;
}
.catalog-link{
    text-decoration: none;
    color: #000000;
}
.sabdescription-catalog{
    text-decoration: none;
    text-align: left;
    color: #333333;
}
.stars-4{
    background-image: url("../images/hotels/stars-4.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;

}
.stars-3{
    background-image: url("../images/hotels/stars-3.png");
    background-repeat: no-repeat;
}
.stars-2{
    background-image: url("../images/hotels/stars-2.png");
    background-repeat: no-repeat;
}
.pagination-link{
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-decoration: none;
}
.pagination-active{
    color: #000000;
    background-color: #F2F2F2;
}
.ellipsis{
    background-color: transparent;
    color: #000;
}
.subscribe-catalog{
    text-align: center;
    background-color: #FFFFFF;
    background-image: none;
}
.subscribe-catalog h2{
    color: #000000;
}
.subscribe-catalog p{
    color: #333333;
}
